extends layout

block content
  h1= title
  p Welcome to #{title}
  div.content 
    div#board
      - var x = 8;
      while x > 0
        div.row
          - var y = 8;
          - var key = 97;
          while y > 0
            - var cellPosition = String.fromCharCode(key++) + x;
            div.cell(id=cellPosition)
            - y--;
          - x--;
  p#output Output
  p#cellOutput  
  script(src="/javascripts/chess.js")